* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(126, 184, 166);
    img {
        cursor: pointer;
        height: 90%;
        width: auto;
    }
    .name {
        text-align: center;
        h3,
        h1 {
            margin: 10px 0 0 0;
        }
        h1 {
            font-family: 'Dancing Script';
            font-size: 2.6rem;
        }
    }
    .social {
        display: flex;
        justify-content: space-between;
        width: 150px;
        align-items: center;
        .icon {
            cursor: pointer;
            height: 40%;
            width: auto;
            border-radius: 15px 15px 15px 15px;
            opacity: 0.6;
            transition: 0.3s;
            img {
                height: 100%;
                border-radius: 15px 15px 15px 15px;
            }
        }
        .icon:hover {
            opacity: 1;
            box-shadow: 4px 4px 12px 0px rgba(56,49,56,1);
        }
    }
}

.phrase_basket {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .phrase {
        font-family: Arial, Helvetica, sans-serif;
        width: 410px;
        margin-left: 25px;
        border: 5px rgb(238, 193, 137);
        border-style: solid none;
        .author {
            text-align: right;
        }
    }
    .basket {
        align-self: center;
        margin-right: 30px;
        img {
        height: 50px;
        width: auto;
        }

    }
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 5%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 200px;
    width: 70%;
    .book {
        text-align: center;
        transition: 0.4s;
        .book_img {
            padding: 10px;
            transition: 0.5s;
        }
        .book_img:hover {
            transform: scale(1.08);
        }
        .myButton {
            background-color:#64836d;
            border-radius:28px;
            border:1px solid #193120;
            display:block;
            width: 80%;
            margin: 5px auto;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:17px;
            padding: 6px 10px;
            text-decoration: none;
            text-shadow:0px 1px 0px #2f6627;
        }
        .myButton:hover {
            background-color:#95c2a2;
        }
        .myButton:active {
            position:relative;
            top:1.5px;
        }
    }
    .book:hover {
        box-shadow: 6px 6px 12px 3px rgba(56,49,56,1);
        background-color: azure;
    }
}




.basket_img {
    height: 20px;
    width: auto;
    padding-right: 6px;
    vertical-align: middle;
}