@import 'keyframes';

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(126, 184, 166);
    img {
        cursor: pointer;
        height: 90%;
        width: auto;
    }
    .name {
        text-align: center;
        h3,
        h1 {
            margin: 10px 0 0 0;
        }
        h1 {
            font-family: 'Dancing Script';
            font-size: 2.6rem;
        }
    }
    .social {
        display: flex;
        justify-content: space-between;
        width: 150px;
        align-items: center;
        .icon {
            cursor: pointer;
            height: 40%;
            width: auto;
            border-radius: 15px 15px 15px 15px;
            opacity: 0.6;
            transition: 0.3s;
            img {
                height: 100%;
                border-radius: 15px 15px 15px 15px;
            }
        }
        .icon:hover {
            opacity: 1;
            box-shadow: 4px 4px 12px 0px rgba(56,49,56,1);
        }
    }
}

.phrase {
    width: 100%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
    width: 410px;
    margin-left: 25px;
    border: 5px rgb(238, 193, 137);
    border-style: solid none;
    .author {
        text-align: right;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 5%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 200px;
    width: 70%;
    .book {
        text-align: center;
        transition: 0.4s;
        min-height: 320px;
        .book_img {
            padding: 10px;
            transition: 0.5s;
        }
        .book_img:hover {
            transform: scale(1.08);
        }
        .myButton {
            background-color:#64836d;
            border-radius:28px;
            border:1px solid #193120;
            display:block;
            width: 80%;
            margin: 5px auto;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:17px;
            padding: 6px 10px;
            text-decoration: none;
            text-shadow:0px 1px 0px #2f6627;
        }
        .myButton:hover {
            background-color:#95c2a2;
        }
        .myButton:active {
            position:relative;
            top:1.5px;
        }
        button:focus {
            outline: none;
        }

        .basket_img {
            height: 20px;
            width: auto;
            padding-right: 6px;
            vertical-align: middle;
        }

    }
    .book:hover {
        box-shadow: 6px 6px 12px 3px rgba(56,49,56,1);
        background-color: azure;
    }
}

// Book with animation add to basket
.zoom {
    position: fixed;
    top: 390px;
    right: 35px;
    width: 60px;
    height: auto;
    animation: zoom 1.5s ease-out forwards;
    z-index: 2;
}

.check_mark {
    display: none;
    margin: 10px auto;
    border: solid green;
    width: 12px;
    height: 24px;
    transform: rotate(45deg);
    border-width: 0 5px 4px 0;
    animation: check_mark 1.5s ease-out forwards;
}

.basket {
    position: fixed;
    cursor: pointer;
    top: 510px;
    right: 30px;
    z-index: 1;
    img {
    height: 70px;
    width: auto;
    }
}

.basket_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    animation: modalopen 1s;
    .modal_content {
        background-color: #f4f4f4;
        margin: 5% auto;
        padding: 10px;
        width: 80%;
    }

    .modal_header {
        margin: 0 auto;
        margin-bottom: 20px;
        .closeBtn {
            float: right;
            cursor: pointer;
            color: gray;
            font-size: 30px;
            width: 34px;
            border: none;
            border-radius: 100%;
            text-align: center;
        }
        .closeBtn:hover {
            border: 1px solid rgba(255, 0, 0, 0.7);
            border-radius: 100%;
            color: white;
            background-color: rgba(255, 0, 0, 0.7);
        }
        h2 {
            width: 20%;
            margin: 0 auto;
            padding: 4px 0 4px 0;
            border: solid rgb(252, 192, 119);
            border-width: 2px 0 2px 0;
            text-align: center;
            font-size: 2em;
            color: rgb(70, 37, 37);
        }
    }
}